.test {
  display: flex;
  border: 1px solid blue;
}
.one {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin: 10px;
  /* order: 2; */
}
.two {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin: 10px;
}
.three {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin: 10px;
}
div[class ^="col"]{
  color: rgb(20, 216, 46);
}
